* {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
	color: white;
}
header {
	border: 1px solid;
	height: 70px;
	width: 100%;
	background-color: grey;
}

header ul {
	float: right;
}
header ul a:hover{
	color:#838a85 ;
}
header ul li {
	display: inline-block;
	padding: 20px;
}
header h1{
	float: left;
	display: inline-block;
	padding-left: 20px;
	padding-top: 15px;
}
header h1 a:hover {
	color: #838a85;
}
header h1 a{
	transition: .3s;
}
header ul li a {
	transition: .3s;
}
a {
	text-decoration: none;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.container ::after {
	content: '';
	display: none;
	clear: both;
}
.menu-sidebar {
	float: right;
	display: none;
	padding: 15px;
}
.menu-sidebar:hover{
	cursor: pointer;
}
@media (max-width: 768px) {
	.menu-sidebar {
		display: block;
}
header ul{
	display: none;
}
.col-4{
	width: 50%;
}
.col-3{
	width: 100%;
 }
}
#bar {
	display: none;
}
.sidebar {
	position: fixed;
	top:0;
	bottom: 0;
	left: -200px;
	width: 200px;
	background-color: rgba(75, 82, 77, .8);
	transition: .3s;
	z-index: 9999; 
}
.sidebar ul li {
	padding: 25px;
}
.sidebar ul li a {
	color: white;
}
.sidebar ul li:hover{
	background-color: #3e4540 ;
}
#bar:checked ~ .sidebar {
	left: 0;
}